extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Silicon
    div.Message
      div.Title
        h3 http://localhost:8000/
        h1 Workload Automation API
      span.Details Access the Silicon user portal below:
    div.NavButtons
      a(href="/user")
        div.NavButton Enter User Profile