extends layout

block layout-content
  div.View.UserView
    h1.Banner #{userProfile.nickname}'s links
    div.NavButtons
      a(href="/local_links")
        div.NavButton Local Links
    div.NavButtons
      a(href="/work_links")
        div.NavButton Work Links
    div.NavButtons
      a(href="/user")
        div.NavButton View User profile
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
