extends layout

block layout-content
  div.View.UserView
    h1.Banner #{userProfile.nickname}'s local command interface
    div.NavButtons
      a(href="/git")
        div.NavButton Get Creds: git
    div.NavButtons
      a(href="/cpu")
        div.NavButton Get CPU Usage
    div.NavButtons
      a(href="/disk")
        div.NavButton Get Disk Usage
    div.NavButtons
      a(href="/boot")
        div.NavButton Get Last Boot
    div.NavButtons
      a(href="/memory")
        div.NavButton Get Memory Usage
    div.NavButtons
      a(href="/dbeaver")
        div.NavButton Start DBeaver
    div.NavButtons
      a(href="/start")
        div.NavButton Start Programs
    div.NavButtons
      a(href="/RDP")
        div.NavButton Start RDP
    div.NavButtons
      a(href="/reboot")
        div.NavButton Reboot local
    div.NavButtons
      a(href="/stop")
        div.NavButton Stop Programs
    div.NavButtons
      a(href="/user")
        div.NavButton View User Profile
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
