extends layout

block layout-content
  div.View.UserView
    h1.Banner #{userProfile.nickname}'s work command interface
    div.NavButtons
      a(href="/ad")
        div.NavButton Get Creds: AD
    div.NavButtons
      a(href="/batch")
        div.NavButton Get Batch: DW
    div.NavButtons
      a(href="/batch_rpt")
        div.NavButton Get Batch: RPT
    div.NavButtons
      a(href="/batch_pref")
        div.NavButton Get Batch: PREF
    div.NavButtons
      a(href="/dirs")
        div.NavButton Get Dirs
    div.NavButtons
      a(href="/user")
        div.NavButton View User Profile
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
