extends layout

block layout-content
  div.View.UserView
    h1.Banner #{userProfile.nickname}'s work command interface
    div.Message
      div.Title
        h3 Execute commands under
        h1 user account:
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/ad")
        div.NavButton Get Creds: AD
    div.NavButtons
      a(href="/batch")
        div.NavButton Get Batch: DW
    div.NavButtons
      a(href="/dirs")
        div.NavButton Get Dirs
    div.NavButtons
      a(href="/user")
        div.NavButton View User Profile
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
